{% extends "base.html" %}

{% block content %}

<h2>Username: {{ request.user.username }}</h2>
<h2>Company: {{ company }} </h2>
<h3>Run Number: {{local_runno}}</h3>
<h3>Global Run ID: {{ runpk }}</h3>

<a href="www.google.com"><button>Visit Page Now</button></a>


<p>
The P&L File:<br>
{% for file in pnl_files %}
    <a href="{{ file.File.url }}">{{ file.FileName }}</a>
{% endfor %}
</p>
<p>
The P&L Grouping File:<br>
{% for file in pnl_grouping_files %}
    <a href="{{ file.File.url }}">{{ file.FileName }}</a>
{% endfor %}
</p>
<p>
The Transactions File:<br>
{% for file in transactions_files %}
    <a href="{{ file.File.url }}">{{ file.FileName }}</a>
{% endfor %}
</p>
<p>
Key Files:<br>
{% for file in key_files %}
    <a href="{{ file.File.url }}">{{ file.FileName }}</a>
{% endfor %}
</p>


<form action="{% url 'prof:user-home' %}runid-{{ runpk }}/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>{{ form.non_field_errors }}</p>
    <p>Type of File: {{ form.FileType }} </p>
    <p>File Name: {{ form.FileName }} </p>
    <p>{{ form.File }} </p>
    <!-- <input type="text" name="firstname"><br>  This was just a test field inserted to test behavior --!>
    <p><input type="submit" value="Upload" /></p>
</form>
        
        
<br><br><br><br><h4> A few things to help work on this: </h4>
<p>
Request Method: {{request.method}} <br>
Just Showing request.POST: {{ request.POST }}<br>
Just Showing request.user: {{ request.user }}<br>
Just Showing request.GET: {{ request.POST }}<br>
{{ request }}
</p>

{% endblock %}